main{
    background-image: url('../img/brawl.png');
    background-position: center;
    height: 100%;
    
}
.euqsei{
    background-image: url('../img/SKsplash_1920x1080.jpg');
    background-position: center;
    height: 100%;
    
}

